<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>homepage</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/homepage.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
	<div class="container" align="center">
        <marquee>Welcome to Movie Project....</marquee>
            <div class="jumbotron">
                <h1 class="display-4">"Cinema is an explosion of love for reality"</h1>
                <h2 class="display-4">SCENE!!!!...TAKE!!!!....ROLL!!!</h1>
                    <a class="btn btn-primary btn-lg" href="/addmovie/" role="button">addmovie</a>&nbsp&nbsp&nbsp
                    <a class="btn btn-primary btn-lg" href="/movielist/" role="button">movielist</a>
            </div>
    </div>
</body>
</html>